<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
<div class="card-deck">
    <div class="card" >
      <a href="http://www.letcode.in/blog" >
      <img class="card-img-top"src="https://i.postimg.cc/SNhmnrkZ/blog-icon-information-internet-262508.jpg" style="width: 15rem; height: 12rem;"></a>
      <div class="card-body">
        <h5 class="card-title">BLOG</h5>
        <p class="card-text">Content please.</p>
      </div>
    </div>
    <div class="card" routerLink="/home">
      <img class="card-img-top" src="https://i.postimg.cc/W3QDxkRd/cristofer-jeschke-NSKP7-Gwa-I0-unsplash.jpg" style="width: 15rem; height: 12rem;">
      <div class="card-body">
        <h5 class="card-title">WORKSPACE</h5>
        <p class="card-text">content please</p>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.postimg.cc/dVDCfvpZ/Pngtree-youtube-icon-4199913.jpg" style="width: 15rem; height: 12rem;">
      <div class="card-body">
        <h5 class="card-title">YOUTUBE PLAYLIST</h5>
        <p class="card-text">content please</p>
      </div>
    </div>
  </div>

  <div class="card-deck">
  <div class="card mb-3">
    <img class="card-img-top" src="">
    <div class="card-body">
      <h5 class="card-title" align-content-center>:: Welcome to Letcode ::</h5>
      <p class="card-text">Letcode prides itself of offering a supportive learning environment and teaching quality</p>
    
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>  