<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">IMAGE</h5>
                <div class="form-label-group">
                 <h5>
                    Click on this image to go home page</h5>
        
                        <a id="edr" name="drf" href="http://localhost:4200/" class="material-icons text-black"style=" font-size: 90px">laptop_windows</a>
                        
                
                </div>
                <div class="form-label-group">
                 <h5>
                    Am I Broken Image?</h5>
                    <i id="edr1" name="drf1" class="material-icons text-primary"style=" font-size: 90px">
                        broken_image
                        </i>
                </div>
                <div class="form-label-group">
                    <h5>Click me using Keyboard or Mouse
                    </h5>
                    
                    <a id="edr2" name="drf2" href="http://localhost:4200/" class="material-icons text-black"style=" font-size: 90px">keyboard</a>
                   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>