
 <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Radio Button</h5>
                <div class="form-label-group">
                 <label for="inputName">
                    Are you enjoying the classes?
                  </label> 
                  <div class="radio">
                    <label for="Unchecked">
                       NO                            
                     <input type="radio" id="name1" name="name1" class="form-control" required autofocus>
                      </label>
                  </div> 
                  <div class="radio">
                      <label for="Unchecked">
                        Yes
                                                    
                       <input type="radio" id="name2" name="name2" class="form-control" required autofocus>
                        </label>
                  </div>
                     </div>
                <div class="form-label-group">
                    <label for="inputName">
                        Find default selected radio button?
                      </label> 
                      <div class="radio">
                      <label for="Unchecked">
                        Unchecked
                                                    
                       <input type="radio"id="name3" name="name3" class="form-control"  required autofocus>
                        </label>
                    </div> 
                    <div class="radio">
                        <label for="Unchecked">
                          Unchecked
                                                      
                         <input type="radio"id="name4" name="name4" class="form-control"  required autofocus>
                          </label>
                    </div>
            </div>
                <div class="form-label-group">
                    <label for="inputName">
                        Select your age group (Only if choice wasn't selected)
                      </label> 
                      <div class="radio">
                      <label for="inputName">
                        1 - 20 years                          
                                                  
                       <input type="radio"id="name5" name="name5" class="form-control"  required autofocus>
                        </label> </div>
                        <div class="radio">
                        <label for="inputName">
                           21 - 40 years  
                                                      
                          <input type="radio"id="name6" name="name6" class="form-control"  required autofocus>
                           </label>
                        </div>
                        <div class="radio">
                           <label for="inputName">
                            41 - 100 years  
                            
                          <input type="radio"id="name7" name="name7" class="form-control"  required autofocus>
                           </label></div>
                   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body> 