<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Hiper link</h5>
                <div class="form-label-group">
                 <h5>
                    Go to Home Page</h5>
                  <a href="http://localhost:4200/" class="btn btn-dark stretched-link">Go to Home</a>
                </div>
                <div class="form-label-group">
                 <h5>
                    Find where am supposed to go without clicking me?</h5>
                    <a href="http://localhost:4200/button" class="btn btn-dark stretched-link">Go somewhere</a>
                </div>
                <div class="form-label-group">
                    <h5>
                        Verify am I broken?</h5>
                        <a href="http://www.404.com/" class="btn btn-dark stretched-link">Go somewhere</a>
                   </div>
                   <div class="form-label-group">
                    <h5>Go to Home Page (Interact with same link name)
                    </h5>
                    <a href="http://localhost:4200/button" class="btn btn-dark stretched-link">Go somewhere</a>
                   </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
