<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Button</h5>
                <div class="form-label-group">
                 <h5>
                  Click button to travel home page</h5>
                  <a routerLink="/" id ="button1"name="button1" class="btn btn-dark stretched-link">Go somewhere</a>
                </div>
                <div class="form-label-group">
                 <h5>
                    Find position of button (x,y)</h5>
                  <button id="button2" name="button2" class="btn btn-dark">Get postion</button>
                </div>
                <div class="form-label-group">
                    <h5>Find button color</h5>
                    <button id="button3" name="button3" type="button" class="btn btn-primary">Primary</button>
                   </div>
                   <div class="form-label-group">
                    <h5>Find the height and width</h5>
                    <input id="button4" name="button4"  type="submit" class="btn btn-dark" value="Submit Button">
                   </div>
                   <div class="form-label-group">
                    <h5>
                       spining button</h5>
                        <button id="12q3w4m" name="button5"  class="btn btn-dark" disabled>
                          <span class="spinner-border spinner-border-sm"></span>
                          Loading..
                        </button>
                   </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>