<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Drop down</h5>
              <div class="dropdown">
                    <select id="Index" class="btn btn-white" >
                        <option value="0">Select training program using index</option>
                        <option value="1">Selenium</option>
                        <option value="2">Appium</option>
                        <option value="3">API-TESTING</option>
                    </select>
                </div>
        
              <br/>
              <div class="dropdown">
                <select name="text"  class="btn btn-white">
                    <option value="0">Select training program using Text</option>
                        <option value="1">Selenium</option>
                        <option value="2">Appium</option>
                        <option value="3">API-TESTING</option>
                </select>
            </div>
    
              <br/>
              <div class="dropdown">
                <select id="Index" name="text"  class="btn btn-white">
                    <option value="0">Select training program using value</option>
                        <option value="1">Selenium</option>
                        <option value="2">Appium</option>
                        <option value="3">API-TESTING</option>
                </select>
            </div>
    
              <br/>
              <div class="dropdown">
                <select id="dropdown"class="btn btn-white">
                    <option value="0">Get the number of dropdown options</option>
                    <option value="1">Selenium</option>
                    <option value="2">Appium</option>
                    <option value="3">API-TESTING</option>
                </select>
            </div>
    
              <br/>
              <div class="dropdown">
                <select id="dropdown"class="btn btn-white">
                    <option value="0">You can also use sendKeys to select</option>
                    <option value="1">Selenium</option>
                    <option value="2">Appium</option>
                    <option value="3">API-TESTING</option>
                </select>
            </div>
            <br/>
            <div class="dropdown">
              <select multiple  class="btn btn-white">
                  <option value="0">select your option</option>
                  <option value="1">Selenium</option>
                  <option value="2">Appium</option>
                  <option value="3">API-TESTING</option>
              </select>
          </div>
      
        
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>