<div class="container">
    <div class="row justify-content-center">
<!-- <app-edit></app-edit> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
  <mat-card class="col-sm-3 example bg-warning col-sm-3"style="width: 20rem; height: 20rem;" routerLink="/edit">
      <div class="row justify-content-center align-items-center">
           <i class="material-icons text-white"style="font-size: 250px">edit</i>
     </div>
    </mat-card>
    <!-- </div> -->
<!-- <app-button></app-button> -->

    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">power_settings_new</i>
         </div>
        </mat-card>
    <!-- </div> -->
<!-- <app-hiperlink></app-hiperlink>  -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">link_off</i>
          </div>
        </mat-card>
    <!-- </div>  -->
<!-- <app-image></app-image> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="col-sm-3 example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">local_florist</i>
         </div>
        </mat-card>
    </div>
    <!-- </div> -->
    <div class="row justify-content-center box-top">
<!-- <app-dropdown></app-dropdown> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">arrow_drop_down</i>
       </div>
      </mat-card>
    <!-- </div> -->
<!-- <app-radiobutton></app-radiobutton> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">radio</i>
       </div>
      </mat-card>
    <!-- </div> -->
<!-- <app-checkbox></app-checkbox> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3" style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">check_box</i>
       </div>
      </mat-card>
      <!-- </div> -->
<!-- <app-table></app-table> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
    <div class="row justify-content-center align-items-center">
         <i class="material-icons text-white"style="font-size: 250px">table_chart</i>
    </div> 
      </mat-card>
    <!-- </div> -->
    </div>
<!-- <app-alert></app-alert> -->
<div class="row justify-content-center box-top">
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">error</i>
         </div>
        </mat-card>
    <!-- </div> -->
<!-- <app-frame></app-frame> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">filter_frames</i>
       </div>
      </mat-card>
    <!-- </div> -->
<!-- <app-window></app-window> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">laptop_windows</i>
       </div>
      </mat-card>
    <!-- </div> -->
<!-- <app-calender></app-calender> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">calendar_today</i>
       </div>
      </mat-card>
    <!-- </div> -->
</div>
<!-- <app-draggable></app-draggable> -->
<div class="row justify-content-center box-top">
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">drag_indicator</i>
       </div>
      </mat-card>
    <!-- </div> -->
<!-- <app-droppable></app-droppable> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
  <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
      <div class="row justify-content-center align-items-center">
           <i class="material-icons text-white"style="font-size: 250px">arrow_drop_down_circle</i>
     </div>
    </mat-card>
    <!-- </div> -->
<!-- <app-selectable></app-selectable> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">photo_size_select_actual</i>
         </div>
        </mat-card>
    <!-- </div> -->
<!-- <app-sortable></app-sortable> -->

 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">sort</i>
       </div>
      </mat-card>
    <!-- </div> -->
</div>
<!-- <app-autocomplete></app-autocomplete> -->
<div class="row justify-content-center box-top">
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">autorenew</i>
       </div>
      </mat-card>
    <!-- </div> -->
<!-- <app-downloadfiles></app-downloadfiles> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">cloud_download</i>
       </div>
    </mat-card>
    <!-- </div> -->
<!-- <app-uploadfiles></app-uploadfiles> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">cloud_upload</i>
         </div>
        </mat-card>
    <!-- </div> -->
<!-- <app-tooltip></app-tooltip> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">touch_app</i>
       </div>
      </mat-card>
    <!-- </div> -->
</div>
<!-- <app-waitfordisappear></app-waitfordisappear> -->
<div class="row justify-content-center box-top">
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">visibility_off</i>
       </div>
      </mat-card>
    <!-- </div> -->
<!-- <app-waittoapper></app-waittoapper> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">visibility</i>
       </div>
      </mat-card>
    <!-- </div> -->

<!-- <app-waitfortextchange></app-waitfortextchange> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">track_changes</i>
          </div>
        </mat-card>
    <!-- </div> -->
<!-- <app-waitforalert></app-waitforalert> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">add_alert</i>
         </div>
        </mat-card>
    <!-- </div> -->
</div>
<!-- <app-mousehover></app-mousehover> -->
<div class="row box-top">
    <!-- <div class="col-sm-3 justify-content-center"> -->
    <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
        <div class="row justify-content-center align-items-center">
             <i class="material-icons text-white"style="font-size: 250px">mouse</i>
       </div>
      </mat-card>
    <!-- </div> -->
   
<!-- <app-advanced-web-tables></app-advanced-web-tables> -->
 
    <!-- <div class="col-sm-3 justify-content-center"> -->
      <mat-card class="example bg-warning col-sm-3"style="width: 20rem; height: 20rem;">
          <div class="row justify-content-center align-items-center">
               <i class="material-icons text-white"style="font-size: 250px">sort_by_alpha</i>
         </div>
        </mat-card>
      <!-- </div> -->
    </div>  
</div>